body {
   background-color: white;
}
.connn { /* Fixed Width */
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-inverse {
    /* rgb(17,17,17) !important; */
    background-color: rgb(17,17,17) !important;
    margin-bottom: 10px !important;
}
.mainNav {
}
.top-hdr {
    background-color: rgb(17,17,17);
    height: 50px;
    width: 100%;
    border-bottom: 1px solid gray;
}
.top-hdr img {
    margin: 0 auto;
    height: 49px;
}
/*
    ADMIN
 */
.adm-nav-section-header {
    color: black; !important;
    border: 0px solid gainsboro !important;
}
.adm-nav-li {
    border: 0px solid gainsboro !important;
    margin-left: 0px !important;
}
.adm-nav-li ul {
    list-style: none !important;
    padding-left: 5px !important;
}
.adm-nav-li ul li {
    margin-left: 0px !important;
    padding-left: 0px !important;
}
.adm-nav-li ul li a {
    color: black !important;

}

.adm-nav-div {
    border: 0px solid black !important;
}

.footerCol {
    margin-top: 50px;
}

.owl-carousel *{
    border: 0px solid black !important;
}
.productPrice {
    float: right;
    font-size: 25px;
    font-weight: bolder;
    color: #a0d468;
}
.bx-wrapper {
    border: none !important;
}
.navbar-inverse {

    padding-bottom: -0px !important;
    margin-bottom: 10px !important;
}
.wlc-top-container{
    width: 100%;
    height: 50px;
    background-color: rgb(102,204,255);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.wlc-bottom-container {
    color: white !important;
    width: 100%;
    height: 50px;
    background-color: rgb(102,204,255);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}
.wlc-ctr-container {
    color: white;
    background-color: rgb(102,204,255) !important;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.breadcrumb {
    background-color: white !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.cat-h3 {
    margin-left: 16px;
    display: inline;
    color: #4b6075 !important;
}
.cat-h3-count {
    font-size: large !important;
}
.cat-h4 {
    color: #434A54 !important;
    color: whitesmoke;
    border: 1px solid white ;
    padding: 5px;
    background-color: white;
}
.cat-filter-selectbox {
    border: 1px solid white;
    margin-top: -15px;
}
.cat-products-view-cfg {

    padding-top: 5px;
    background-color: white;
}
.cat-products-view{
    top: 0px;
    border: 1px solid white;
    margin-top: -14px;
    padding-top: 15px;
}
.bgbg {
        height: 200px;
    background-image: url("http://s2.mmommorpg.com/media/slider/scaled/neverwinter-mmorpg-free.jpg.1240x500_q75_crop-smart.jpg");
}
.viewbtn

{
    font-weight: bolder;
}